<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport">
</head>

<body>
<p>hello this is a paragraph for the ejs template section of the javacsript course</p>
<p>this is another paragarph but a little bit more idfferent than the other paragraph</p>


</body>

</html>

